<?php
/**
 * Copyright © 2015 employeecommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Employee\Listing\Block\Display\Display
 */
 //echo $block->display();
?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
if ($customerSession->isLoggedIn()) {
    echo"<BR>Customer ID==".$Cust_ID=$customerSession->getCustomer()->getId();
    echo"<BR>Customer Name===".$Cust_name=$customerSession->getCustomer()->getName();
    echo"<BR>Customer Email===".$customer_email=$customerSession->getCustomer()->getEmail();
    
    
    
}else{
	echo"<BR>Please Login To See Logged user Details";
}
    ?>
	
	
	<table>
  <tr>
    <th class="post-id">Emp Name</th>
    <th class="post-name">Emp Dep</th>
    <th>Emp Salary</th>
	<th>Emp Address</th>
  </tr>
    <?php
        foreach ($block->getConatctCollection() as $key=>$contact){
            echo '<tr>
                    <td>'.$contact->getemp_name().'</td>
                    <td>'.$contact->getemp_dept().'</td>
                    <td>'.$contact->getemp_salary().'</td>
					<td>'.$contact->getemp_add().'</td>
                  </tr>';
        }
    ?>
</table>

