<?php
/**
 * Copyright © 2015 employeecommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Police\Entryform\Block\Display\Display
 */
 //echo $block->display();
  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
 $baseurl = $storeManager->getStore()->getBaseUrl();	

?>
  <div class="page-title-wrapper">
        <h2 class="page-title">
       
	    <span itemprop="name"><a href="<?php echo $baseurl ?>listing/show/show">Click To See Logged User Details</a></span>
        </h2>
 </div> 

<?php
    ?>
	
	
	<table>
  <tr>
    <th class="post-id">Emp Name</th>
    <th class="post-name">Emp Dep</th>
    <th>Emp Salary</th>
	<th>Emp Address</th>
  </tr>
    <?php
        foreach ($block->getConatctCollection() as $key=>$contact){
            echo '<tr>
                    <td>'.$contact->getemp_name().'</td>
                    <td>'.$contact->getemp_dept().'</td>
                    <td>'.$contact->getemp_salary().'</td>
					<td>'.$contact->getemp_add().'</td>
                  </tr>';
        }
    ?>
</table>

