<?php
/**
 * Copyright © 2015 employeecommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Employee\Listing\Block\Index\Index
 */
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
 $baseurl = $storeManager->getStore()->getBaseUrl();	

?>


<form class="form_report" action="" method="post" id="login-form" >
 <div class="page-title-wrapper">
        <h2 class="page-title">
      <span itemprop="name"><span class="base" data-ui-id="page-title-wrapper">Employee Reporting</span></span>
        </h2>
 </div>    
 <br>
  <div class="page-title-wrapper">
        <h2 class="page-title">
       
	    <span itemprop="name"><a href="<?php echo $baseurl ?>listing/show/show">Click To See Logged User Details</a></span>
        </h2>
 </div> 
 <br>
<div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Employee Name">Employee Name</label></div>
<div class="col-75"><input id="emp_name" name="emp_name" type="text" required placeholder="Employee Name.." required></div>
</div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Employee Department">Employee Department</label></div>
<div class="col-75"><input id="emp_dept" name="emp_dept" type="text" placeholder="Employee Name"  required></div>
</div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Employee Address">Employee Address</label></div>
<div class="col-75"><input id="emp_add" name="emp_add" type="text" placeholder="Employee Address"  required></div>
</div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Employee Salary">Employee Salary</label></div>
<div class="col-75"><input type="text" id="emp_salary"  name="emp_salary"  placeholder="Employee Salary"></div>
</div>
<div class="row">
<div class="col-25"><label style="color: #0073a4;" for="Employee Joining">Employee Joining</label></div>
<div class="col-75"><input id="emp_joindate" name="emp_joindate" type="text" placeholder="Employee Joining"></div>
</div>
<div class="row"><input type="submit" value="Submit"></div>
</div>
</form>



